@import 'tailwindcss';

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none; /* only block horizontal overscroll */
}

html {
  overflow-x: hidden; /* put overflow-x only on html, not body */
}
